.loader {
    position: fixed;
    z-index: 99;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.bg-page {
    background-color: #eb8124;
    height: 110vh;
    border-radius: 3vw;
}


.pastery {
    background: linear-gradient(to right, #fafafa 0%, #f7d6badd 80%, #f3e8e7 100%);
    height: 99vh;
    margin: 2vw !important;
    width: 95vw !important;
    border-radius: 3vw;
}

.a-nav1 {
    font-size: 2vw;
}

.a-nav {
    font-size: 1.3vw !important;
}

.my-nav {
    margin: 1.5vw;
}

.p-btn {
    margin-left: 2.5vw;
    width: 10vw;
    font-size: 1.5vw;
    height: 7.8vh;
    border-radius: 10vw;
    background: none;
}

.p-btn:hover {
    background: linear-gradient(to right, #f7d6badd, #eb8124);
}

.main-h {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1;
    margin-left: 3vw;
}

.paratha-des {
    margin-left: 3vw;
    font-size: 1.1vw;
    margin-top: 1vh;
}

.dish-img {
    width: 35vw;
    height:30vw ;
    text-align: center;
}

.o-btn {
    margin-left: 3vw;
    width: 8vw;
    font-size: 1.3vw;
    height: 7vh;
    border-radius: 40px;
    background: linear-gradient(to right, #f7d6badd, #eb8124);
}

.o-btn:hover {
    background: none;

}

.p1-btn {
    margin-top: 1vw;
    margin-left: 3vw;
    font-size: 1vw;
    width: 8vw;
    height: 7vh;
    border-radius: 40px;
    background: none;
}

.p1-btn:hover {
    background: linear-gradient(to right, #f7d6badd, #eb8124);

}

.p2-btn {
    margin-top: 2vw;
    width: 8vw;
    font-size: 1vw;
    height: 7vh;
    border-radius: 40px;
    background: none;
}

.p2-btn:hover {
    background: linear-gradient(to right, #f7d6badd, #eb8124);

}

.p3-btn{
    width: 8vw;
    height: 7vh;
    font-size: 1vw;
    border-radius: 40px;
    background: none;

}

.p3-btn:hover{
    background: linear-gradient(to right, #f7d6badd, #eb8124);

}


@media (max-width:1024px) {


    .bg-page {
        height: 150vh;
    }

    .pastery {
        height: 140vh;
        width: 93vw !important;

    }


    .a-nav1 {
        font-size: 2.5vw;
    }

    .a-nav {
        font-size: 1.7vw !important;
    }

    .p-btn {
        width: 12vw;
        font-size: 1.5vw;
        height: 7vh;
    }

    .main-h {
        font-size: 3.7vw;
        margin-left: 1vw;
    }

    .paratha-des {
        margin-left: 1vw;
        font-size: 1.6vw;
    }

    .dish-img {
        width: 45vw;
        height:40vw ;
        text-align: center;
    }
    

    .o-btn {
        margin-left: 1vw;
        width: 9vw;
        font-size: 1.5vw;
        height: 6vh;
    }

    .p1-btn {
        margin-left: 1vw;
        width: 9vw;
        font-size: 1.3vw;
        height: 6vh;
    }

    .p2-btn {     
         margin-left: 1vw;
        width: 11vw;
        font-size: 1.3vw;
        height: 6vh;
    }


    .p3-btn{
        margin-left: 1vw;
        width: 11vw;
        font-size: 1.3vw;
        height: 6vh;
    }
    

}

@media (max-width:500px) {


    .bg-page {
        height: 120vh;
    }

    .pastery {
        height: 110vh;
        width: 93vw !important;

    }

    .a-nav1 {
        font-size: 3.3vw;
    }
    .a-nav {
        font-size: 3vw !important;
    }
    .p-btn {
        width: 13vw;
        font-size: 1.9vw;
        height: 4vh;
    }
    .main-h {
        font-size: 5.7vw;
        margin-left: 0vw;
    }
    .paratha-des {
        margin-left: 1vw;
        font-size: 2.5vw;
    }
 
 
    .dish-img {
        width: 55vw;
        height:50vw ;
        text-align: center;
    }


    .o-btn {
        margin-left: 0vw;
        width: 14vw;
        font-size: 2.3vw;
        height: 5vh;
    }
    .p1-btn {
        margin-left: 0vw;
        width: 15vw;
        font-size: 2.2vw;
        height: 6vh;
    }

    .p2-btn {       
         margin-left: 0vw;
        width: 15vw;
        font-size: 2.2vw;
        height: 6vh;
    }

    
    .p3-btn{         
        margin-left: 0vw;
        width: 15vw;
        font-size: 2.2vw;
        height: 6vh;
    }

    


}